@{
    Layout = "~/Views/Shared/_StrudleBoxLayout.cshtml";
}

<style type="text/css">
    #experiment {
        margin-top: 10%;
      -webkit-perspective: 800;
      -moz-perspective: 800;
      -webkit-perspective-origin: 50% 200px;
      -moz-perspective-origin: 50% 200px;      
    }

    #cube {
      position: relative;
      margin: 0 auto;
      height: 400px;
      width: 400px;
      -webkit-transition: -webkit-transform 2s linear;
      -moz-transition: -moz-transform 2s linear;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
    }

    .face {
      position: absolute;
      height: 360px;
      width: 360px;
      padding: 0px;
      background-color: rgba(50, 50, 50, 0.7);
        background-image: url("/Content/images/WoodPlanksBare0171_7_S.jpg");

        padding: 20px;
    }

    #cube .one  {
      -webkit-transform: rotateX(90deg) translateZ(200px);
      -moz-transform: rotateX(90deg) translateZ(200px);
    }

    #cube .two {
      -webkit-transform: translateZ(200px);
      -moz-transform: translateZ(200px);
    }

    #cube .three {
      -webkit-transform: rotateY(90deg) translateZ(200px);
      -moz-transform: rotateY(90deg) translateZ(200px);
    }

    #cube .four {
      -webkit-transform: rotateY(180deg) translateZ(200px);
      -moz-transform: rotateY(180deg) translateZ(200px);
    }

    #cube .five {
      -webkit-transform: rotateY(-90deg) translateZ(200px);
      -moz-transform: rotateY(-90deg) translateZ(200px);
    }

    #cube .six {
      -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
      -moz-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
    }
</style>

<script type="text/javascript">
    var xAngle = 0, yAngle = 0;    
    var xOriginal = 0, yOriginal = 0;
    
    document.addEventListener('keydown', function (e) {
        switch (e.keyCode) {

            case 37: // left
                yAngle -= 90;                
                break;
                
            case 39: // right                
                yAngle += 90;
                break;

            case 38: // up
                xAngle += 90;
                break;
                
            case 40: // down
                xAngle -= 90;                
                break;
        };
               
        if(yOriginal !== yAngle){
            $('#cube').css('-webkit-transform', 'rotateY(' + yAngle + 'deg)');
            $('#cube').css('-moz-transform', 'rotateY(' + yAngle + 'deg)');
            yOriginal = yAngle;
        }        
        else if(xOriginal !== xAngle){
            $('#cube').css('-webkit-transform', 'rotateX(' + xAngle + 'deg)');
            $('#cube').css('-moz-transform', 'rotateX(' + xAngle + 'deg)');
            xOriginal = xAngle;
        }
        
    }, false);
    
</script>

<div id="experiment">
        <div id="cube">
                <div class="face one">
                    Detta är en text ovanför texturen! wiiho                 
                </div>
                <div class="face two">
                      asdasd                                           
                </div>
                <div class="face three">
                        asdfasf                                          
                </div>
                <div class="face four">
                asdfasdf                                     
                </div>
                <div class="face five">
                     asdfasdf                                              
                </div>
                <div class="face six">
                      asdfasdf                                              
                </div>
        </div>
</div>

   