@{
    Layout = "~/Views/Shared/_StrudleBoxLayout.cshtml";
}

<link href="~/Content/refineslide.css" rel="stylesheet" />    
<script src="~/Scripts/jquery.refineslide.min.js"></script>

<script>
    $(document).ready(function () {
        $('.rs-slider').refineSlide();
    });
</script>

<ul class="rs-slider">
    <li><img src="~/Content/images/wood6.jpg" /></li>
    <li><img src="~/Content/images/wood6.jpg" /></li>
    <li><img src="~/Content/images/wood6.jpg" /></li>
</ul>   